<div class="index-page">
    <div class="index-page-grid">
        <div class="index-logo">
            <h1 class="home-text">Outshine</br>
                Standout</br>
                Flourish</h1>
        </div>
        <div>
            <img src="/images/index.svg" class="index-img">

        </div>
    </div>

</div>